.DS_Store
algebra-linear/ref/
buracos-negros/ref/
calculo/ref/
calculo-numerico/ref/
ciencia-dos-materiais/ref/
estado-solido/ref/
fisica-geral/ref/
fisica-quantica/ref/
geometria-analitica/ref/
geometria-analitica/scripts/
geometria-analitica/blender/
inteligencia-artificial/ref/
materiais-de-construcao/ref/
mecanica-de-fluidos/ref/
mecanica-dos-materiais/ref/
mecanica-estatistica/ref/
metodo-dos-elementos-finitos/ref/
principios-de-matematica/ref/

backup/
